# Copy this file to .env and fill in all values before running docker compose up

SECRET_KEY=change-me-to-a-random-secret

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=eu-west-1

COGNITO_REGION=eu-west-1
COGNITO_USERPOOL_ID=
AWS_COGNITO_DOMAIN=
AWS_COGNITO_USER_POOL_ID=
AWS_COGNITO_USER_POOL_CLIENT_ID=
AWS_COGNITO_USER_POOL_CLIENT_SECRET=
AWS_COGNITO_REDIRECT_URL=
