{% extends "base.html" %}

{% block head_css %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('main.static', filename='css/index.css' )}}">

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div style="margin-top:5vh;">
        <div id="cover_artwork">
            <img class="rounded img-fluid" src="{{ url_for('static', filename='img/SPOTIFY_COVER.png') }}"
                 width="500" height="500" id="cover_image" alt="Single Artwork">
            <h1 style="text-align:center; margin:1vh;padding1vh;"></h1>
            <a href="{% editable spotify_single %}https://open.spotify.com/track/5gl7PhMrTDpyDrIsEiFWj0?si=IPmqDu3SS1uN8KU0-TqJkA{% endeditable %}"
               target="_blank" rel="noreferrer" class="btn btn-success" id="cover_button"
            ><i class="fab fa-spotify"></i> &emsp; Listen Now!</a>
        </div>
    </div>

</div>
{% endblock %}