{% extends "base.html" %}

{% block head_css %}
{{ super() }}
<link href="{{ url_for('main.static', filename='css/index.css' )}}" rel="stylesheet">

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div style="margin-top:5vh;">
        <div id="cover_artwork">
            <img alt="Single Artwork" class="rounded img-fluid"
                 height="500" id="cover_image" src="{{ url_for('static', filename='img/SPOTIFY_COVER.png') }}" width="500">
            <h1 style="text-align:center; margin:1vh;padding1vh;"></h1>
            <a class="btn btn-success"
               href="{% editable spotify_single %}https://open.spotify.com/track/5gl7PhMrTDpyDrIsEiFWj0?si=IPmqDu3SS1uN8KU0-TqJkA{% endeditable %}" id="cover_button" rel="noreferrer" target="_blank"
            ><i class="fas fa-play"></i> &emsp; Listen Now!</a>
        </div>
    </div>

</div>
{% endblock %}