footer {
  position: absolute;
  width: 100%;
  /* Set the fixed height of the footer here */
  max-height: 80px;
  line-height: 5px; /* Vertically center the text there */
}
.footer-copyright p {
    margin-top:3vh;
    margin-bottom:0;
 }
 ul.list-social li  a{
  display: block;
  height: 40px;
  width: 40px;
  line-height: 40px;
  font-size: 20px;
  border-radius: 100%;
  color: white;
}
i {
    font-style:normal;
}