{% extends "base.html" %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-6" style="text-align:center;     -webkit-box-shadow: 0px 0px 19px 5px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 19px 5px rgba(255,255,255,1);
    box-shadow: 0px 0px 19px 5px rgba(255,255,255,1);;
         min-height: 50vh;
    margin-top: 10vh; border-radius:21px;">
            <h1 style="font-size:10em;color:white"><u>Oops!</u></h1>
            <h1 style="color:white">The page you are looking for can't be found!</h1>
            <br/>
            <a href="/" class="btn btn-dark">Homepage!</a>
        </div>
    </div>


</div>
{% endblock %}