{% extends "login_base.html" %}

{% block content %}
{% include 'admin_nav.html' %}
<div class="container-fluid">
    <div class="row" style="padding-top:65px;">
        <div class="col-6">
            <div class="card">
                <h3 class="card-header">
                    Editable Content
                </h3>
                <div class="card-body">
                    <p>Customizable elements</p>
                    <ul>
                        <li>Spotify Link</li>
                        <li>Background Gradient</li>
                        <li>Social Links</li>
                    </ul>
                    <a class="btn btn-dark" href="edits">Edit Content here.</a>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <h3 class="card-header">
                    Editable Music Cover
                </h3>

                <div class="card-body">
                    <p>
                        Upload new album artwork.
                    </p>
                    <a class="btn btn-dark" href="upload-image">Edit cover here.</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top:65px;">
        <div class="col-12">
            <div class="card">
                <h3 class="card-header">
                    Help
                </h3>
                <div class="card-body">
                    <h4>Spotify link</h4>
                    <p>To update the spotify link: Copy and Paste the Spotify song link. <br>e.g. <a
                            href="https://open.spotify.com/track/4uLU6hMCjMI75M1A2tKUQC?si=yl0eqRz2Qgu3CgT2xCShYw">https://open.spotify.com/track/4uLU6hMCjMI75M1A2tKUQC?si=yl0eqRz2Qgu3CgT2xCShYw</a>
                    </p>

                    <h4>Background Gradient</h4>
                    <p>When updating the Background, "BACKGROUND" and "GRADIENT_1_RGB" should be the same value.</p>
                    <p>RGB colours are used, use your favorite colour picker to decide on a colour then enter the RGB
                        values.</p>

                    <h4>Social Links</h4>
                    <p>Copy and paste links to your social media.</p>

                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
