{% extends "login_base.html" %}
{% block content %}
{% include 'admin_nav.html' %}
<div class="container">
    <div class="row" style="padding-top:65px;">
        <div class="col">
            <h1>Upload an image</h1>
            {% for category, message in get_flashed_messages(with_categories=True) %}
            <div class="alert alert-{{category}}">{{message}}</div>
            {% endfor %}
            <hr>
            <form action="upload-image" method="POST" enctype="multipart/form-data">
                <input type="file" name="image"/>
                <input type="submit" class="btn btn-primary"/>
            </form>
        </div>
    </div>
</div>

{% endblock %}